* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#progress-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#progress-container {
    display: inline-block;
    width: 80%; 
    max-width: 600px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    display: block;
    height: 20px;
    width: 0;
    background-color: #007bff;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

#result p {
    margin-bottom: 20px; 
}

h1 {
    color: #007bff;
    text-align: center;
    margin: 5px 0; 
}

button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

#result {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: relative;
    transition: height 0.3s ease;
    overflow: hidden;
}

#result p {
    margin: 15px;
}

.collapse-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.collapse-btn:focus {
    outline: none;
}

.collapsed {
    height: 55px;
    overflow: hidden;
}

.expanded {
    height: auto;
}

.tooltip-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tooltip-icon {
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 50%;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 500px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 100%;
    transform: translateX(10px) translateY(10px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    white-space: normal;
    overflow-wrap: break-word;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex: 0 0 auto;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.logo img {
    height: 100px;
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 20px; 
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.contact-info {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact-info h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 15px;
    font-size: 18px;
}

.contact-info .contact-item {
    margin-bottom: 10px;
}

#auto-refresh-timer{
    opacity: 25%;
    padding: 15px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    button {
        font-size: 14px;
    }

    #result {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 30px;
    }

    button {
        padding: 8px 16px;
        font-size: 12px;
    }

    #result {
        font-size: 14px;
    }
}


.contact-info .contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease;
    overflow: hidden;
}

.contact-info .contact-form-container.collapsed {
    height: 0;
}

.contact-info .contact-form-container.expanded {
    height: auto;
}

.collapse-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.collapse-btn:focus {
    outline: none;
}

.contact-info form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-info input, .contact-info textarea {
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-info button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.contact-info button:hover {
    background-color: #0056b3;
}

.contact-info button:active {
    background-color: #004080;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}