* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#progress-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#progress-container {
    display: inline-block;
    width: 80%; 
    max-width: 600px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    display: block;
    height: 20px;
    width: 0;
    background-color: #007bff;
    transition: width 0.1s;
    border-radius: 5px;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    
}

#result p {
    margin-bottom: 20px; 
}

h1 {
    color: #007bff;
    text-align: center;
    margin: 5px 0; 
}

button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex: 0 0 auto;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.logo img {
    height: 100px;
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 20px; 
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#auto-refresh-timer{
    opacity: 25%;
    padding: 15px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    button {
        font-size: 14px;
    }

    #result {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 30px;
    }

    button {
        padding: 8px 16px;
        font-size: 12px;
    }

    #result {
        font-size: 14px;
    }
}
