* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #1e1e1e;
    color: #ffffff;
}

h1 {
    color: #007bff;
    text-align: center;
    margin: 5px 0;
}

body.dark-theme h1 {
    color: #66b2ff;
}

button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

body.dark-theme button {
    background-color: #66b2ff;
    color: #1e1e1e;
}

body.dark-theme button:hover {
    background-color: #3399ff;
}

body.dark-theme button:active {
    background-color: #0066cc;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex: 0 0 auto;
    margin-top: 20px;
}

body.dark-theme footer {
    background-color: #004080;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

body.dark-theme footer a {
    color: #66b2ff;
}
