header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

body.dark-theme header {
    background-color: #004080;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

body.dark-theme .logo {
    color: #66b2ff;
}

.logo img {
    height: 100px;
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

body.dark-theme nav ul li a {
    color: #66b2ff;
}

nav ul li a:hover {
    text-decoration: underline;
}

body.dark-theme nav ul li a:hover {
    text-decoration: underline;
}


.theme-toggle-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
}

body.dark-theme .theme-toggle-button {
    color: #66b2ff;
}

#theme-toggle:focus {
    outline: none;
    box-shadow: none;
}

#theme-toggle {
    border: none;
    background: none;
}